/* ---------- Раздел 20. Адаптив для 1760px ---------- */
@media (max-width: 1760px) {
    .main-title {
        font-size: 150px;
        left: -7px;
    }

    .main-info {
        max-width: 640px;
    }

    .main-image {
        width: 800px;
    }
}

/* ---------- Раздел 21. Адаптив для 1200px ---------- */
@media (max-width: 1200px) {
    .main {
        padding: 111px 20px 20px;
    }

    .main-info {
        max-width: 540px;
    }

    .main-title {
        font-size: 120px;
        left: -4px;
    }

    .main-title-ghost {
        font-size: 220px;
    }

    .main-image {
        width: 640px;
    }
}

/* ---------- Раздел 22. Адаптив для 1024px ---------- */
@media (max-width: 1024px) {
    .main {
        flex-direction: column-reverse;
        padding-top: 100px;
    }

    .main-info {
        max-width: 100%;
    }

    .main-title {
        margin-top: 30px;
    }

    .main-description {
        max-width: 350px;
    }

    .main-actions {
        gap: 10px;
    }

    .main-actions .button {
        height: 50px;
        font-size: 14px;
        width: auto;
        max-width: 300px;
    }

    .main-image {
        position: static;
        width: 100%;
        max-width: 100%;
        margin: 0 auto 30px;
        z-index: 0;
    }

    .main-title-ghost {
        font-size: 180px;
        bottom: -80px;
    }
}

/* ---------- Раздел 23. Адаптив для 570px ---------- */
@media (max-width: 570px) {
    .main-title {
        font-size: 88px;
    }

    .main-description {
        max-width: 100%;
    }

    .main-actions {
        width: 100%;
    }

    .main-actions .button {
        width: 100%;
        max-width: 100%;
    }

    .main-image {
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        margin: 0;
        opacity: 0.2;
        z-index: -1;
    }

    .main-title-ghost {
        font-size: 120px;
        left: -30px;
        bottom: -40px;
    }
}

/* ---------- Раздел 24. Адаптив для 400px ---------- */
@media (max-width: 400px) {
    .main-title {
        font-size: 70px;
    }

    .main-title-ghost {
        font-size: 90px;
    }
}